<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div id="root">

        <li v-for="name in names" v-text="name"></li>

        <input type="text" name="" v-model="newName">
        <button @click="submitName" >Add Name</button>

    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



    <script>

        var app = new Vue({

            el: '#root',

            data: {
                newName: '',
                names: ["Nico", "Christopher"]
            },

            methods: {
                submitName(){

                    this.names.push(this.newName);
                    
                    // clear input
                    this.newName = '';

                }
            }

        });

    </script>

    
</body>
</html>